* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.parent {
  position: relative;
  width: 500px;
  height: 300px;
  border: 1px solid black;

  margin: 30px auto;
}

.parent > div {
  width: 100px;
  height: 100px;
  background-color: aqua;
}


.child1{
  transform: rotateY(180deg);
}