* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.parent{
  width: 500px;
  border: 1px solid #000000;
  margin: 30px auto;

  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */

  display: flex;
  flex-direction: column;

  align-items: stretch;

}

.child{
  width: 100px;
}

.child1{
  background-color: red;
}

.child2{
  background-color: green;
}

.child3{
  background-color: blue;
}

.child4{
  background-color: gold;
}